body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
}#app{
  text-align:center
}
.grad-box{
  width:100%;
  height: 100px;
  padding:50px 0 0 0;
  border:1px solid #ccc;
  margin-bottom:20px
}
select{
  width: 206px;
  padding: 4px 4px;
  font-size: 23px;
  font-weight: bold;
  color: #515050;
  font-family: initial;
}
.form-group{
  padding: 10px;
  margin: 17px;
  color: #fff;
}
.result,.Syntax{
  padding: 15px;
  color: #fff;
  background-color: #7eb93d;
  margin: 10px;
}.result span,.Syntax span{
  font-weight: bold;
  margin-right: 10px;
}