<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form action="">
            <input type="text" placeholder="Type Your Task" v-model="taskText">
            <button class="btn primary" @click.prevent="addTask" :disabled="!taskText">add Task</button>
            <button class="btn danger" @click="deleteAll" v-if="tasks.length > 1">DELETE All</button>
        </form>
        <div class="tasks-list" v-for="(task,index) in tasks">
            <div class="task-box" @click="task.done = !task.done" :style="{ 'text-decoration': task.done ? 'line-through' : '' }">{{ task.words }}</div>
            <span class="delete btn danger" @click="deleteTask(index)">DELETE</span>
        </div>
    </div>
    <!-- ################################## -->
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>