<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form action="index.php">
            <div class="errors-list">
                <div class="error" v-for="error in formError">{{ error }}</div>
            </div>
            <div class="form-group">
                <label>User Name</label>
                <input type="text" placeholder="insert Pass" v-model="userName">
            </div>
            <div class="form-group">
                <label>Subject</label>
                <input type="text" placeholder="insert Pass"  v-model="subject">
            </div>
            <div class="form-group">
                <label>Msg</label>
                <textarea placeholder="insert Pass" v-model="msg"></textarea>
            </div>
            <button @click="validateForm">Submit</button>
        </form>
    </div>
    <!-- ################################## -->
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>