#app{
  text-align:center
}ul{
  list-style-type: none;
  margin:22px auto;
}ul li{
  display:inline-block;
  width:20px;
  height:20px;
  margin:20px;
  cursor: pointer;
  text-align:center
}ul li:first-of-type{
  background-color:red;
}ul li:nth-child(2){
  background-color:blue;
}ul li:nth-child(3){
  background-color:green;
}ul li:nth-child(4){
  background-color:yellow;
}ul li:nth-child(5){
  background-color:black;
}
.calc div{
  display:inline-block;
  width:100px;
  margin:20px;
  padding:20px;
  color:#fff;
  background-color:var(--mainColor);
}
/* 
<li data-color="red" ></li>
<li data-color="blue" ></li>
<li data-color="green" ></li>
<li data-color="yellow" ></li>
<li data-color="black" ></li> */