body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
  }
  

  
#app {
  max-width: 30em;
  margin: 1em auto;
}
input,button{
  display:block;
  padding:10px;
  font-size: 19px;
  margin:20px auto;
  width:100%;
}
button{
  font-size: 22px;
  width: 122px;
}