<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul class="nav tab-shose">
            <li @click="activeTabes = '1'" :class="[activeTabes === '1' ? 'active' : '']">One</li>
            <li @click="activeTabes = '2'" :class="[activeTabes === '2' ? 'active' : '']">Tow</li>
            <li @click="activeTabes = '3'" :class="[activeTabes === '3' ? 'active' : '']">Three</li>
            <li @click="activeTabes = '4'" :class="[activeTabes === '4' ? 'active' : '']">Four</li>
        </ul>
        <div class="tabs-content">
            <div class="content-one" v-if="activeTabes === '1'">content-one</div>
            <div class="content-Tow" v-if="activeTabes === '2'">content-tow</div>
            <div class="content-Three" v-if="activeTabes === '3'">content-Three</div>
            <div class="content-Four" v-if="activeTabes === '4'">content-Four</div>
        </div>
    </div>
    <!-- ################################## -->
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>