body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
  }
  

#app {
  text-align:center
}
.nav{
  background-color:#ccc;
  color:#fff
}
ul li{
  display: inline-block;
  padding: 20px;
  margin:0 20px;
  cursor: pointer;
}ul li.active{
  background-color: #f3f3f3;
  color: #000;
}