<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="grad-box" :style="{backgroundImage:'linear-gradient('+ direction +','+ colorOne +','+ colorTow +')'}">Gradient Preview</div>

        <form action="">
            <div class="form-group">
                <label for="">Direction</label>
                <select name="direction" v-model="direction">
                    <option value="to top">to top</option>
                    <option value="to bottom">to bottom</option>
                    <option value="to left">to left</option>
                    <option value="to right">to right</option>
                </select>
            </div>
            <div class="form-group" :style="{backgroundColor : colorOne}">
                <label for="">Color Stop One</label>
                <input type="color" v-model="colorOne">
            </div>
            <div class="form-group" :style="{backgroundColor : colorTow}">
                <label for="">Color Top Tow</label>
                <input type="color" v-model="colorTow">
            </div>
        </form>
        <div class="result">
            <span>Css Code : </span>background-image:linear-gradient(direction,colorOne,colorTow)
        </div>
        <div class="Syntax">
            <span>Syntax : </span>background-image:linear-gradient({{direction}},{{colorOne}},{{colorTow}})
        </div>
    </div>
    <!-- ################################## -->
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>