<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form action="">
            <input type="text" placeholder="insert Pass" v-model="convert">
            <button @click.prevent="convertTile">show/hide password</button>
        </form>
        <h3>https://www.KlayFP.me/{{ output }}</h3>
    </div>
    <!-- ################################## -->
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>