<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button @click="message = !message">{{ message ? 'Hide Msg' : 'Show Msg' }}</button>
        <transition name="fade">
            <div class="alert" v-if="message">Hi Ahmed </div>
        </transition>
        
        <transition name="slide-fade">
            <div class="alert" v-if="message">Hi Ahmed </div>
        </transition>
       
        <transition name="bounce">
            <div class="alert" v-if="message">Hi Ahmed </div>
        </transition>
       
       
    </div>
    <!-- ################################## -->
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>