<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2>Write Your Message ({{ maxLength }} Characters Allowed)</h2>
        <textarea @input="countChars" :maxlength="maxLength" v-model="message"></textarea>
        <h3 class="counter" :class="{'zero': reachZero}">
            Left | <span>{{ remainingChars }}</span>
        </h3>
    </div>
    <!-- ################################## -->
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>