<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
       <div class="quesition-box" v-for="question in questions">
            <div class="question-title" @click="question.open = !question.open">{{ question.title }}</div>
            <transition name="slide-fade">
                <div class="question-reply" v-show="question.open">{{ question.reply }}</div>
            </transition>
       </div>
    </div>
    <!-- ################################## -->
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>