body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
  }
  #app {
    width: 544px;
    margin: 1em auto;
  }
.btn,input{
  padding: 10px;
  font-size: 22px;
  border-color: #ccc;
  border: 0;
}
input{
  border: 1px solid #ccc;
  font-size: 18px;
  height: 23px;
  background-color: #f5f5f5;
}
.primary{
  background-color: #007bff;
  border: 0;
  color:#fff
}.danger{
  background-color: #dc3545;
  color: #fff;
}.tasks-list{
  margin: 34px 0 0 0;
  display: inline-block;
  width: 500px;
}.tasks-list span{
  float: right;
  padding: 10px;
}.task-box{
  float:left;
  padding: 10px;
  background-color: #afffaf8c;
  color: #1d9200;
  width: 74%;
  height: 27px;
}
input:focus{
  border:0
}
button[disabled="disabled"]{
  opacity:.5
}