body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
  }
  
  h1,.muted {
    color: #2c3e5099;
  }
  
  h1 {
    font-size: 26px;
    font-weight: 600;
  }
  
  #app {
    max-width: 30em;
    margin: 1em auto;
  }
  form{
    text-align:center
  }
label,button{
  display:block;
  margin-top:30px;
  margin-bottom:10px
}
input,textarea,button{
  width:80%;
  padding:10px;
  border:1px solid #ccc;
  font-size: 18px;
}button{
  margin:22px auto
}
.error{
  background-color:rgb(255, 167, 167);
  color:red;
  padding:20px;
  margin:20px;
}