<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
       <div class="product">
            <h3>product title</h3>
            <p>Product description</p>
            <span class="Price">Price: $ {{ price }}</span>
            <span class="amount-title">Amount:</span>
            <input type="range" min="1" max="20" step="1" v-model="amount">
            <div class="total-price">
                <span class="amount">Amount: {{ amount }}</span>
                <span class="total">total: {{ totalPrice }}</span>
            </div>
       </div>
    </div>
    <!-- ################################## -->
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>