body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
  }
  
#app{
  text-align:center
}
textarea{
  min-width:500px;
  min-height:200px;
  margin:22px auto;
  font-size: 22px;
  padding:20px;
}
.zero span{
  color:red
}
h2{
  color:#333;
  margin-top:40px
}