body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
  }
  

  
#app {

  margin: 1em auto;
}
.product{
  text-align: center;
  background-color: #e5e3e3;
  width: 400px;
  padding: 65px 5px 7px 6px;
  margin: auto;
  min-height: 362px;
  border-radius: 5px;
}
.product h3{
  font-weight: bold;
  font-family: initial;
  font-size: 34px;
}
.product p{
  color: #908b8b;
  font-size: 19px;
  font-weight: bold;
}.product span{
  display: block;
  line-height: 32px;
  font-size: 23px;
  line-height: 46px;
  color: #423e3e;
}
.product span:nth-last-child(1),.product span:nth-last-child(2){
  display: inline-block;
  margin: 10px;
  background-color: #f1f1f1;
  padding: 0px 28px;
  font-size: 20px;
  color: #978f8f;
}