body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}
#app{
  text-align: center;
}
button{
  padding:10px;
  border:0;
  margin:22px;
  color:#000
}
.selected{
  background-color:greenyellow;
  color:green
}